# CodeAlpha Internship Tast 1: Web Scraping Project:

# My Target Website: https://books.toscrape.com/

 importing Required Libraries

In [4]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup
import time
import random

In [ ]:
# requests : to fetch the Html content of the webpage
# beautifulsoup: to parse and extract data from the Html.
# pandas: to store and save data in a structured format like csv.

In [5]:
book_data=[]

In [6]:
for page in range(1,51):
    url = f"https://books.toscrape.com/catalogue/page-{page}.html"
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    books =soup.find_all('article',class_='product_pod')
    for book in books:
        title= book.h3.a['title']
        price= book.find('p',class_='price_color').text.replace('A','').strip()
        stock= book.find('p',class_='instock availability').text.strip()
        rating= book.find('p',class_='star-rating')['class'][1]
        book_data.append({'title':title,'price':price,'availability':stock,'rating':rating})
    time.sleep(random.uniform(1,2))

In [7]:
# convert to dataframe and save

In [8]:
df = pd.DataFrame(book_data)
df.to_csv('books_data.csv',index=False,encoding='utf-8-sig')

In [9]:
df =  pd.read_csv('books_data.csv')
df.head()

                                   title   price availability rating
0                   A Light in the Attic  £51.77     In stock  Three
1                     Tipping the Velvet  £53.74     In stock    One
2                             Soumission  £50.10     In stock    One
3                          Sharp Objects  £47.82     In stock   Four
4  Sapiens: A Brief History of Humankind  £54.23     In stock   Five